
<!-- <div class="col-9">
<div class="row">
Welcome to our application.
</div> -->
<div class =”container” class="d-flex justify-content-center">
    <table mdbTable> 
        <tr>
          <th><h2>Name&emsp;</h2></th>
          <th><h2>Email&emsp;</h2></th>
          <th><h2>Password</h2></th>
        </tr>
        <tr *ngFor="let users of users">
          <td class="text-info"><h4>{{users.name}}</h4></td>
          <td class="text-info"><h4>{{users.email}}</h4></td>
          <td class="text-info"><h4>{{users.password}}</h4></td>
        </tr>
       
      </table>
<!-- <p>{{users.name}}</p>
<p>{{users.name}}'s' password is {{users.password}}</p> -->

</div>


<!-- <table>
    <tr>
      <th>Name</th>
      <th>Password</th>
    </tr>
    <tr *ngFor="let users of users">
      <td>{{users.name}}</td>
      <td>{{users.password}}</td>
    </tr>
   
  </table> -->